/.ssh/*
/.idea/*
/env/*
/.venv/*
/.local/*
/.cache/*
.viminfo
.bash_history
.swp
id_rsa
id_rsa.pub
/__pycache__/*
/*/__pycache__/*
git
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
.env
staticfiles/
media/
.env*
*.log
*.pot
*.py[cod]
*.sqlite3
*.swp
*.swo
*.bak
*.tmp
*.orig
*.DS_Store