<ul class="nav nav-pills flex-wrap justify-content-center gap-2">
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:index' %}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:add_student' %}">Обо мне</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:students_result' %}">Таблица «Обо мне»</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:add_program' %}">О программе</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:program_result' %}">Таблица «О программе»</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:add_managers' %}">О менеджменте</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:managers_result' %}">Таблица «О менеджменте»</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:add_fellows' %}">О сокурсниках</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-custom" href="{% url 'my_app:fellows_result' %}">Таблица «О сокурсниках»</a>
    </li>
</ul>
